@import "../../../../../node_modules/bpmn-js-properties-panel/dist/assets/element-templates.css";
@import "../../../../../node_modules/bpmn-js-properties-panel/dist/assets/properties-panel.css";
@import "../../../../../node_modules/bpmn-js-connectors-extension/dist/connectors-extension.css";
@import "../../../../../node_modules/bpmn-js-bpmnlint/dist/assets/css/bpmn-js-bpmnlint.css";
@import "../../../../../node_modules/bpmn-js-token-simulation/assets/css/bpmn-js-token-simulation.css";

@import "bpmn-override";
@import "toolbar";
@import "designer";
@import "viewer";
@import "palette";
@import "context-pad";
@import "panel";
@import "camunda-penal";
@import "contextmenu";

.designer_container {
  height: 100vh;
  width: 100%;
  max-height: calc(100vh - 84px);
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  position: relative;
  .designer_main {
    width: 100%;
    height: 100%;
    max-height: calc(100vh - 84px);
    flex: 1;
    overflow: hidden;
    .designer_canvas{
      height: 800px;
      width: 100%;
      flex: 1;
      min-height: calc(100vh - 130px);
      max-height: calc(100vh - 84px);
    }
  }
  .designer_panel{
    flex-shrink: 0;
    position: relative;
    left: -4px;
    .handoff_btn{
      width: 18px;
      height: 64px;
      position: absolute;
      z-index: 10;
      top: 50%;
      transform: translate(-100%, -50%);
      cursor: pointer;
      border-radius: 8px 0 0 8px;
      box-shadow: -2px 0 6px 0 rgba(0, 0, 0, .1);
      text-align: center;
      line-height: 64px;
      left: 0;
    }
    .open{
      min-height: calc(100vh - 84px);
      box-shadow: -2px 0 6px 0 rgba(0, 0, 0, .1);
      width: 27vw;
      min-width: 460px;
      max-width: 560px;
      .el-card__body{
        overflow: auto;
        max-height: calc(100vh - 150px);
        -ms-overflow-style: none;
        ::-webkit-scrollbar { width: 0 !important }
      }
    }
  }
  .designer_palette{
    position: relative;
    width: 49px;
    max-width: 50px;
    overflow: hidden;
    border-right: 1px solid var(--el-border-color-lighter);
  }
}

.viewer_container {
  height: 100vh;
  width: 100%;
  max-height: calc(100vh - 158px);
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  position: relative;
  .viewer_main {
    width: 100%;
    height: 100%;
    max-height: calc(100vh - 135px);
    flex: 1;
    overflow: hidden;
    .viewer_canvas{
      height: 800px;
      width: 100%;
      flex: 1;
      min-height: calc(100vh - 150px);
      max-height: calc(100vh - 130px);
    }
  }
}
