// 原始属性面板样式
@forward "bpmn-js-properties-panel/dist/assets/element-templates.css";
@forward "bpmn-js-properties-panel/dist/assets/properties-panel.css";
//
@forward "bpmn-js-connectors-extension/dist/connectors-extension.css";
// 流程校验样式表
@forward "bpmn-js-bpmnlint/dist/assets/css/bpmn-js-bpmnlint.css";
@forward "bpmn-js-token-simulation/assets/css/bpmn-js-token-simulation.css";
// 基础样式
@forward 'bpmn-js/dist/assets/diagram-js.css';
@forward 'bpmn-js/dist/assets/bpmn-js.css';
// 节点基础图标
@forward 'bpmn-js/dist/assets/bpmn-font/css/bpmn.css';
// 节点完整图标
@forward 'bpmn-js/dist/assets/bpmn-font/css/bpmn-codes.css';
// 小地图
@forward "diagram-js-minimap/assets/diagram-js-minimap.css";
//
@forward "context-pad.scss";
//右键菜单样式
@forward "contextmenu.scss";


// ----  重写样式 ------//
// 修复选中时填充色
.layer-selectionOutline {
  fill: none;
}

.cmd-change-menu {
  transition: background-color ease 0.2s;
  background-color: rgba(0, 0, 0, .3);
}

.djs-context-pad .entry{
  background-color: unset;
}

// 流程校验
.bjsl-icon-error,
.bjsl-button-error,
.bjsl-button,
// 以及增强的palette插件
.djs-palette,
//小地图的部分组件
.bts-toggle-mode,
.djs-minimap div.toggle,
  //隐藏bpmn的logo （侵权，但好像camunda不管CN市场）
.bjs-powered-by {
  display: none;
}







