.designer_panel {
  flex-shrink: 0;
  position: relative;
  left: -4px;
}

.drawers_btn {
  width: 18px;
  height: 64px;
  position: absolute;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  // 使其在屏幕中间
  top: 50%;
  // 向左侧偏移，使其出现在屏幕
  transform: translate(-100%, -50%);
  cursor: pointer;
  border-radius: 10px 0 0 10px;
  box-shadow: -2px 0 6px 0 rgba(0, 0, 0, .3);
  text-align: center;
  background-color: #f3f3f3;
}

.card {
  min-height: calc(100vh - 110px);
  box-shadow: -2px 0 6px 0 rgba(0, 0, 0, .1);
  width: 27vw;
  min-width: 460px;
  max-width: 560px;
  //:deep(.n-card__content) {
  //  padding: 10px 12px 10px;
  //}
}

.panel-header {
  display: flex;
  max-height: 30px;
  align-items: center;
  gap: 2px;
}

.bpmn-icon {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  height: 100%;
  max-height: 30px;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
}
.collapse-title{
  display: inline-flex;
  align-items: center;
  gap: 12px;
}
.drawer-footer {
  display: flex;
  .n-button {
    flex: 1;
    margin: 6px;
  }
}

.divider-panel {
  display: flex;
  align-items: center;
  span {
    margin-left: 6px;
  }
}
