.designer_panel {
  flex-shrink: 0;
  position: relative;
  left: -4px;
}

.handoff_btn {
  width: 18px;
  height: 64px;
  position: absolute;
  z-index: 10;
  top: 50%;
  transform: translate(-100%, -50%);
  cursor: pointer;
  border-radius: 8px 0 0 8px;
  box-shadow: -2px 0 6px 0 rgba(0, 0, 0, .1);
  text-align: center;
  line-height: 64px;
  left: 0;
}

.card {
  min-height: calc(100vh - 120px);
  box-shadow: -2px 0 6px 0 rgba(0, 0, 0, .1);
  width: 27vw;
  min-width: 460px;
  max-width: 560px;
}

.panel-header {
  display: grid;
  max-height: 30px;
  grid-template-columns: 40px auto;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 0;
  align-items: center;
  margin: 0;
  padding: 0;

  .bpmn-icon {
    height: 30px;
    max-height: 30px;
    width: 30px;
    grid-row-start: 0;
    grid-row-end: 0;
  }

  .element-title {
    height: 100%;
    max-height: 30px;
    margin: 0;
    padding: 0;
    font-size: 18px;
  }

  > collapse-title {
    width: 100%;
  }


}

.drawer-footer {
  display: flex;

  .el-button {
    flex: 1;
    margin: 6px;
  }
}

.divider-panel {
  display: flex;
  align-items: center;

  span {
    margin-left: 6px;
  }
}
